/**************************************/
/*************  MENU    ***************/
/**************************************/
#topButtons {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;       /* Espacio entre los botones */
  z-index: 9998;  /* Asegura que estén por encima de otros elementos */
}

/**************************************/
/***********  BOTON MUTE   ************/
/**************************************/
#muteButton {
  height: 60px;
  width: 60px;
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#muteButton img {
  width: 60%;
  height: 60%;
}

/* Estilo para el botón de menú */
#menuButton {
  height: 60px;
  width: 60px;
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuButton img {
  width: 45%;
  height: 45%;
}



/**************************************/
/***********   DESPLEGABLE   **********/
/**************************************/
#menuOverlay {
  position: fixed;
  top: 0;
  right: -25%;  /* Empieza oculto, fuera de la pantalla */
  width: 25%;   /* Ocupa un cuarto del ancho de la pantalla */
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);  /* Blanco semi-transparente */
  transition: right 0.3s ease-in-out;  /* Animación para el deslizamiento */
  z-index: 9997;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Monomaniac One", serif;
}

/* Cuando el menú se abre, se le añade la clase "open" para desplazarlo a la vista */
#menuOverlay.open {
  right: 0;
}

/* Aplicar fuente al menú */
#menuOverlay ul {
  list-style: none;
  padding: 5em 0 0 0;  /* Añade espacio en la parte superior */
  margin: 0;
  font-family: "Monomaniac One", serif;
  text-align: left;  /* Asegura alineación izquierda */
  font-size: 2rem;  /* Aumenta el tamaño de la letra */
  line-height: 4rem;  /* Ajusta el espaciado entre líneas */
}

/* Ajustar espaciado de los elementos del menú */
#menuOverlay ul li {
  margin-bottom: 1rem; /* Espaciado entre opciones */
}

/* Mejorar la apariencia de los enlaces */
#menuOverlay ul li a {
  text-decoration: none;
  color: #000; /* Asegura contraste con el fondo */
  padding: 0.5rem 1rem;
  display: block;
  transition: color 0.2s ease-in-out;
}

/* Cambiar color al pasar el mouse */
#menuOverlay ul li a:hover {
  color: #0059fc; /* Azul brillante para destacar */
}
